 <h2 class="search_results_title"> Résultat de votre recherche </h2>

<div class="applicant_cards-group">
<div class="applicant_card">
  <div class="info_place_btn">
    <%= link_to applicants_path do %>
       <input type="button" class="applicant_infos_access_btn" value="En savoir plus!">
    <% end %>
    </div>
    <div class="applicant_photo">
    PHOTO
    </div>
   <h5 class="name_surname">Gaspar FOUFOU</h5>
    <div class="infos_card">
     <h6>Langages :</h6>
       <h6>Expériences :</h6>
       <h6>Diplômes :</h6>
        <div class="description_card">
           <h6>Description :</h6>
       </div>
   </div>
 </div>

 <div class="applicant_card">
    <div class="info_place_btn">
        <input type="button" class="applicant_infos_access_btn" value="En savoir plus!">
    </div>
   <div class="applicant_photo">
    PHOTO
    </div>
    <h5 class="name_surname">Gaspar FOUFOU</h5>
   <div class="infos_card">
       <h6>Langages :</h6>
       <h6>Expériences :</h6>
       <h6>Diplômes :</h6>
       <div class="description_card">
          <h6>Description :</h6>
       </div>
  </div>
</div>

<div class="applicant_card">
    <div class="info_place_btn">
        <input type="button" class="applicant_infos_access_btn" value="En savoir plus!">
    </div>
    <div class="applicant_photo">
    PHOTO
   </div>
    <h5 class="name_surname">Gaspar FOUFOU</h5>
  <div class="infos_card">
        <h6>Langages :</h6>
       <h6>Expériences :</h6>
        <h6>Diplômes :</h6>
       <div class="description_card">
           <h6>Description :</h6>
       </div>
   </div>
</div>
 </div>