<div class="infos_container">
    <div class="img_profil_plcmt">
        <%= image_tag "logogal.PNG" , class: "profil_photo_infos"%>
    </div>
    <h3 class="identity_name">Gaspar FOUFOU</h3>
    <div class="card_infos_profil_group">
        <div class="card_infos_profil">
        <h4 class="categories_title">Langages de programmation</h4>
        </div>
        <div class="card_infos_profil">
        <h4 class="categories_title">Années d'expériences</h4>
        </div>
        <div class="card_infos_profil">
        <h4 class="categories_title">Diplômes</h4>
        </div>
        <div class="card_infos_profil">
        <h4 class="categories_title">Description</h4>
        </div>
    </div>
    <div class="modif_btn_card">
        <input type="button" class="favori_btn" value="Mettre dans mes favoris">
    </div>
     <div class="modif_btn_card">
        <input type="button" class="tchat_btn" value="Envoyer un message">
    </div>
</div>