<% @projects.each do |project| %>
  <div class="project_cards_group">
    <div class="card-product">
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" %>
      <div class="card-product-infos">
      <h2><%= project.name %></h2>
      <p><%= project.description %></p>
      </div>
      <%= link_to "See more", project_path(project), class: 'first_card_btn'  %>
    </div>
  </div>
<% end %>
