<div class="footer">
  <div class="project_name_slogan">
    <h3 class="project_name">GAL</h3>
    <p class="slogan">Devenez "e-sexy" pour les recruteurs !</p>
   </div>
  <div class="footer-links">
      <a href="#" class="network_icon1"> <%= image_tag "insta.svg" %></a>
      <a href="#" class="network_icon2"> <%= image_tag "twitter.svg" %></a>
      <a href="#" class="network_icon3"> <%= image_tag "facebook.png" %></i></a>
  </div>
</div>