<h3 class="search_criterias">Commencer votre recherches par critères</h3>

<div class="inputs_group">
    <input type="search" class="input-navbar" placeholder="Langages de programmation">
    <input type="search" class="input-navbar" placeholder="Années d'expériences">
    <input type="search" class="input-navbar" placeholder="Diplômes">
    <input type="button" class="search_btn" value="Go!">
</div>

<h3 class="top_projects">Les récents projets de nos <strong>GAL</strong>iens !</h3>

<div class="project_cards_group">
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Nom du projet</h2>
    <p>Explications : en quoi consiste le projet ?</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Nom du projet</h2>
    <p>Explications : en quoi consiste le projet ?</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Nom du projet</h2>
    <p>Explications : en quoi consiste le projet ?</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Nom du projet</h2>
    <p>Explications : en quoi consiste le projet ?</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Nom du projet</h2>
    <p>Explications : en quoi consiste le projet ?</p>
  </div>
</div>
</div>
<input type="button" class="more_projects_btn" value="Voir plus de projets">

