<ol>
  <% @projects.each do |project| %>
    <li><%= project.name.capitalize %></li>
  <% end %>
</ol>

<div class="project_cards_group">
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Nom du projet</h2>
    <p>Explications : en quoi consiste le projet ?</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Nom du projet</h2>
    <p>Explications : en quoi consiste le projet ?</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Nom du projet</h2>
    <p>Explications : en quoi consiste le projet ?</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Nom du projet</h2>
    <p>Explications : en quoi consiste le projet ?</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Nom du projet</h2>
    <p>Explications : en quoi consiste le projet ?</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Nom du projet</h2>
    <p>Explications : en quoi consiste le projet ?</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Nom du projet</h2>
    <p>Explications : en quoi consiste le projet ?</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Nom du projet</h2>
    <p>Explications : en quoi consiste le projet ?</p>
  </div>
</div>