// BUTTONS

.applicant_infos_access_btn {
    background-color: #5cabff;
    border-radius: 8px 8px 8px 80px;
    border: none;
    padding: 5px;
    color: whitesmoke;
}

.info_place_btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

// CARDS

.search_results_title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.applicant_card {
    height: 450px;
    width: 300px;
    margin: 20px;
    border-radius: 8px;
    background-image:
    linear-gradient(to top right,
    #5cabff, #000);
    margin-bottom: 60px;
}

.applicant_photo {
    height: 150px;
    width: 150px;
    border-radius: 0px 80px 80px 0px;
    background-color: whitesmoke;
    border: 1px solid #5cabff;
}

.name_surname {
    color: white;
    text-align: center;
    padding-top: 10px;
}

.infos_card {
    margin-left: 10px;
    margin-top: 20px;
    color: whitesmoke
}

.description_card {
    height: 120px;
    width: 280px;
    background-color: whitesmoke;
    border-radius: 8px;
    color: black;
    padding: 10px;
}

.applicant_cards-group {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

// applicants.html

// <h2 class="search_results_title"> Résultat de votre recherche </h2>

//<div class="applicant_cards-group">
//<div class="applicant_card">
//   <div class="info_place_btn">
 //       <input type="button" class="applicant_infos_access_btn" value="En savoir plus!">
 //   </div>
 //   <div class="applicant_photo">
 //   PHOTO
  //  </div>
 //   <h5 class="name_surname">Gaspar FOUFOU</h5>
  //  <div class="infos_card">
 //       <h6>Langages :</h6>
 //       <h6>Expériences :</h6>
 //       <h6>Diplômes :</h6>
  //      <div class="description_card">
   //         <h6>Description :</h6>
 //       </div>
 //   </div>
// </div>

// <div class="applicant_card">
 //   <div class="info_place_btn">
  //      <input type="button" class="applicant_infos_access_btn" value="En savoir plus!">
  //  </div>
 //   <div class="applicant_photo">
 //   PHOTO
  //  </div>
  //  <h5 class="name_surname">Gaspar FOUFOU</h5>
 //   <div class="infos_card">
  //      <h6>Langages :</h6>
  //      <h6>Expériences :</h6>
   //     <h6>Diplômes :</h6>
   //     <div class="description_card">
  //          <h6>Description :</h6>
  //      </div>
//    </div>
//</div>

//<div class="applicant_card">
  //  <div class="info_place_btn">
   //     <input type="button" class="applicant_infos_access_btn" value="En savoir plus!">
  //  </div>
  //  <div class="applicant_photo">
  //  PHOTO
 //   </div>
  //  <h5 class="name_surname">Gaspar FOUFOU</h5>
  //  <div class="infos_card">
   //     <h6>Langages :</h6>
   //     <h6>Expériences :</h6>
   //     <h6>Diplômes :</h6>
  //      <div class="description_card">
  //          <h6>Description :</h6>
  //      </div>
 //   </div>
//</div>
// </div>