
// CARDS

.search_results_title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.applicant_card {
    height: 450px;
    width: 300px;
    margin: 20px;
    border-radius: 8px;
    background-image:
    linear-gradient(to top right,
    #5cabff, #000);
    margin-bottom: 60px;
}

.applicant_photo {
    height: 150px;
    width: 150px;
    border-radius: 0px 80px 80px 0px;
    background-color: whitesmoke;
    border: 1px solid #5cabff;
}

.name_surname {
    color: white;
    text-align: center;
    padding-top: 10px;
}

.infos_card {
    margin-left: 10px;
    margin-top: 20px;
    color: whitesmoke
}

.description_card {
    height: 120px;
    width: 280px;
    background-color: whitesmoke;
    border-radius: 8px;
    color: black;
    padding: 10px;
}

.applicant_cards-group {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
