.navbar-lewagon {
  justify-content: space-between;
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
  height: 70px;
}

.logo {
  max-height: 70px;
  max-width: 70px;
  position: absolute;
  left: 10px;
  top: 0px;
}

.project_name {
  color:white;
  margin: 10px;
  position: absolute;
  left: 920px;
}

.nav-item {
  display: flex;
  flex-direction: row;
}

.input-navbar {
  border-radius: 8px;
  margin-right: 50px;
  height: 40px;
}

.dropdown-item-navbar{

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
